/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    font-size: 16px;
    font-family: system-ui;
    line-height: 1.5;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.container {
    max-width: 600px;
    margin: auto;
}

/* Add offset to separate 1px border with outline */
* {
    outline-offset: 1px;
}

/* Better link color, disable old visited */
a,
a:visited {
    color: royalblue;
}

/* Less aggressive background colors */
select,
button {
    background-color: #eee;
}
select,
button:active {
    background-color: #ddd;
}

/* Less aggressive borders */
input,
button,
textarea,
select,
fieldset,
th,
td,
hr {
    border-radius: 2px;
    border: 1px solid #ccc;
}

/* Improved padding & margin on user action elements */
input,
select,
textarea {
    padding: 0.2rem;
    padding-inline-start: 0.5rem;
}
button {
    padding-inline: 0.5rem;
}
ul,
ol {
    padding-inline-start: 1.6rem;
}
fieldset {
    margin-block: 1rem;
}
legend {
    padding-inline: 0.5rem;
}
td {
    padding-block: 0.2rem;
    padding-inline: 0.5rem;
}

/* Single border by default */
table {
    border-collapse: collapse;
}
